.sidebar-nav{ position:fixed; width:3%; top:50%;right:5px ; }
.sidebar-nav a{ font-size:150%;}
.myloading{position:fixed; width:5%; top:95%;right:5px ; }
.modal-my {
    width:70%;
    height : 70%; 
    margin: -35% 0 0 -35%;
    overflow-x: hidden;
     
}
.modal-my .modal-body {
  max-height: none;
  position:absolute;
  bottom:58px; 
  top:58px; 
  padding: 10px;
  overflow-y: auto;
}

.modal-my .modal-footer {
    position:absolute;
    bottom:0px;
    width:97%;
}
 