<!DOCTYPE html>
<html lang="zh">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		{% load static %}
		<link rel='stylesheet' href='{% get_static_prefix %}css/bootstrap.css' type='text/css' />
		<style type="text/css">
			body {
				padding-top: 60px;
				padding-bottom: 40px;
			}
		</style>
		<link rel='stylesheet' href='{% get_static_prefix %}css/bootstrap-responsive.css' type='text/css' />
		<link rel='stylesheet' href='{% get_static_prefix %}css/my.css' type='text/css' />
		<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<script src="{% get_static_prefix %}jquery.js" type="text/javascript" ></script>
		<script src="{% get_static_prefix %}js/bootstrap.js" type="text/javascript"></script>
		<script src="{% get_static_prefix %}js/bootstrap-carousel.js" type="text/javascript" ></script>
		<script src="{% get_static_prefix %}js/bootstrap-modal.js" type="text/javascript"></script>
		<script src="{% get_static_prefix %}js/bootstrap-tooltip.js" type="text/javascript"></script>
		<script src="{% get_static_prefix %}js/bootstrap-popover.js" type="text/javascript"></script>
 
	 
		<title>{% block title %}db web{% endblock %}</title>
	</head>
	<body data-spy="scroll" data-target=".subnav" data-offset="50" scroll="no">
		{% block content %}{% endblock %}
		{% block paginator %}{% endblock %}
	</body>
</html>