{% extends "base2.html" %}
{% block content %}
	<script >
				$(function() {

					$('[id^="ex-"]').live("click", function() {
						var $content = $(this).attr("data-content");
						var $id = $(this).attr("id");
						var $url = $(this).attr("data-url");
						WB2.anyWhere(function(W) {
							W.widget.publish({
								toolbar : "face,image,topic",
								button_type : "red",
								button_size : "middle",
								default_text : "#"+$content+"#"+$url,
								id : $id 
							});
						});
					});
				})
			</script>
<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a>
			<a class="brand" href="./">天鹅绒</a>
			<ul class="nav" nowtag="{{tag}}" nowkeyword="{{keyword}}">
				<li {%ifequal tag "" %} class="active"{%endifequal%}>
					{%if keyword %} <a href="#">{{keyword}}</a>
					{%endif%}
				</li>
				<li {%ifequal tag "nba" %} class="active"{%endifequal%}>
					<a   href="./?tag=nba">NBA</a>
				</li>
				<li {%ifequal tag "stock" %} class="active"{%endifequal%}>
					<a   href="./?tag=stock">金融</a>
				</li>

				<li {%ifequal tag "IT" %} class="active"{%endifequal%}   >
					<a  href="./?tag=IT">IT</a>
				</li>
				<li {%ifequal tag "Sport" %} class="active"{%endifequal%}>
					<a   href="./?tag=Sport">体育</a>
				</li>
				<li {%ifequal tag "Car" %} class="active"{%endifequal%}>
					<a   href="./?tag=Car">汽车</a>
				</li>
				<li {%ifequal tag "GAME" %} class="active"{%endifequal%}>
					<a   href="./?tag=Game">游戏</a>
				</li>
				<li {%ifequal tag "Diablo3" %} class="active"{%endifequal%}>
					<a   href="./?tag=Diablo3">Diablo3</a>
				</li>
			</ul>
			<form class="navbar-search pull-right" method="get" >
				{% csrf_token %}
				<input type="text" class="search-query" name="keyword"  placeholder="搜索">
			</form>
		</div>
	</div>
</div>
<div >
	<div id="myModal" class="modal hide fade modal-my" ></div>
	<div class="sidebar-nav" align="center">
		<a class="label label-info" onclick="javascript:scroll(0,0)" >Top</a>
	</div><!--/.well -->
	<div class="progress myloading" id="myloading1" style="display:none;">
		<div class="bar"
		style="width: 60%;"></div>
	</div>
	<div class="container"></div>
	<div class="container" >
		<div class="row">
			<div class="span6 hero-unit">
				<h1>快使用天鹅绒！ <small>哼哼哈兮</small></h1>
				<p>
					不一样的阅读体验
				</p>
				<a class="btn btn-primary btn-large"> 点击下载 </a>
			</div>
			<div>
				<div class="page-header span3">
					<h1> 金球C罗 <small> 完克西班牙</small></h1>
				</div>
				<blockquote class="pull-right">
					<p class="pull-left">
						哈哈，金球奖应该是我的了！！！
					</p>
					<small>C罗</small>
					<p class="pull-left">
						c罗金球，煤球滚蛋，葡萄牙夺冠
					</p>
					<small>卡西</small>
					<p class="pull-left">
						无语
					</p>
					<small>煤球</small>
				</blockquote>
			</div>
		</div>
		<div class="row">
			<div id ="testlist"></div>
			<!--<a href="#" class="btn" rel="popover" id="testadd" title="test" data-content="test">test</a>	-->
			{% load callwebui_tags %}
			<div class="span4">
				<ul class="thumbnails">
					{% for item in items.object_list %}
					<li class="span4">
						<div class="thumbnail" id="tbn-{{forloop.counter}}">
							<div id="myCarousel-{{forloop.counter}}" class="carousel" rel="popover" data-content="{{item.content|striptags|cut:"hack"|slice:":300"|add:"..."}}" data-original-title="{{item.title}}">
								<!-- Carousel items -->
								<div class="carousel-inner">
									{% for image in item.images %}
									{% if forloop.first %}
									<div class = "active item" >
										<img src={{image}} alt=""  onerror="removeNoImg(this)" >
									</div>
									{% endif %}
									{% endfor %}
									<div class="carousel-caption">
										<h4>{{item.title|slice:":18"}}</h4>
									</div>
								</div>
							</div>
							<div class="caption">
								<p>
									{{item.content|striptags|cut:"hack"|slice:":100"|add:"..."}}
								</p>
								<div>
									<a href="#{{item|mongo_id}}" class="btn btn-primary" id="readbtn-{{forloop.counter}}" tag="{{item|mongo_id}}" data-toggle="modal"
									>阅读</a>
									<!--<a href="./updateurls?_id={{item|mongo_id}}&update=show" class="btn btn-primary" >闃呰</a>-->
									<a   class="btn"  id="ex-{{forloop.counter}}" title="转发到Sina微博" data-content="{{item.title}}" data-url="{{item.url}}">转发</a>
									&nbsp&nbsp&nbsp
									{{ item.time|timesince  }}&nbsp 前
									&nbsp&nbsp{{item.sogou_class}}
								</div>
							</div>
						</div>
					</li>
					{%if  forloop.counter|divisibleby:8 %}
				</ul>
			</div>
			{% endif  %}
			{%if  forloop.counter|divisibleby:8 and not forloop.last%}
			<div class="span4">
				<ul class="thumbnails">
					{% endif  %}

					{%if  forloop.last %}
				</ul>
			</div>
			{% endif  %}

			{% endfor %}
		 
			<script type="text/javascript" language="javascript">
				function setpopAndtip() {

					$('a[rel=tooltip]').tooltip();
					$('a[rel=popover]').popover();

					$('.thumbnails:last .carousel').popover({
						placement : 'left'
					});
					$('.thumbnails .carousel').popover({
						placement : 'right'
					});
				}

				function removeNoImg(d) {

					$(d).attr('src', '/static/img/404.jpg')
				}

				$(function() {
					setpopAndtip()

					$('#myModal').on('hidden', function() {

						$("body").css({
							overflow : 'scroll'
						})

					})

					$('#myModal').on('shown', function() {
						$('body').css('overflow', 'hidden')

					})
				});

			</script>
			<script type="text/javascript" language="javascript">
				$(function() {

					$('[id^="readbtn"]').live("click", function() {

						var $id = $(this).attr("tag");
						$('#myModal').load("./getReadModal/" + $id, function() {
							$('#myModal').modal("show")
						});
					});

					$(window).bind("scroll", function() {

						if($(document).scrollTop() + $(window).height() > $(document).height() - 50) {
							console.log($('#myloading1').is(":hidden"))
							console.log($('.nav:first').attr('nowkeyword'))
							if($('#myloading1').is(":hidden")) {

								$('#myloading1').show()

								var nextpage = $('.thumbnail').size() / 24 + 1;
								$.ajax({
									type : "get",
									url : "./getlistForScroll/" + nextpage.toString() + "?tag=" + $('.nav:first').attr('nowtag') + "&keyword=" + $('.nav:first').attr('nowkeyword'),
									success : function(data) {
										var $tf = $('.thumbnails')
										var ct = $(data).children().size() / $tf.size();
										$(data).children().each(function(index) {
											$(this).appendTo($tf.eq(index / ct));
										});
										$('#myloading1').hide()
										setpopAndtip()

									}
								});

								//	$("#testadd").trigger("click");
							}
						}
					})
				});

			</script>
			<script type="text/javascript" language="javascript">
								$(function() {

				$('.nav li a').click(function(e) {
				$('.nav li').removeClass('active');

				var $this = $(this);
				if (!$this.hasClass('active')) {
				$this.addClass('active');
				}
				e.preventDefault();
				});
				/*
				$('[id^="ex"]').popover(options)*/

				$('[id^="myCarousel"]').carousel({
				interval false;
				});
				});</script>
		</div>
	</div>
</div>
{% endblock %} 