{% extends "base.html" %}  
{% block title %}Source{% endblock %}  
{% block content %}  
 <a href="/console/urls/">goto url_abstract</a>
 <a href="/console/recommendsource/">goto RecommendSource!!!!</a>
<ul>
{% for item in items.object_list %}
    <li>
     <form action="updatesource" method="get"  >
     {% for k,v in item.items %}
     {% ifequal k '_id' %}
     	 
     	<input name={{k}} type="text" value= {{v}} readonly="readonly" style="background-color: #999999">
     {% else %}
     {% ifequal k 'url' %}
     <input name={{k}} type="text" value= {{v}}  style= "WIDTH: 300px">
     
      {% else %}
     
     <input name={{k}} type="text" value= "{{v}}" >
     {% endifequal %}
     {% endifequal %}
	{% endfor %}
    <input name="update" type="submit" value="update">
    <input name="update" type="submit" value="delete">
    </form>
    </li>
{% endfor %}
 <li>
     <form action="updatesource" method="get"  >   
     <input name="url" type="text" value="url" >
     <select name="type">
	<option value="rss" selected="selected">rss</option>
	<option value="weibo">weibo</option>
	</select>
    <input name="update" type="submit" value="add">
    </form>
    </li>
</ul>

{% endblock %} 
{% block paginator %} 
{% include 'paginator.html' %}

{% endblock %} 