<div>
{% load callwebui_tags %}
{% for item in items.object_list %}
<li class="span4">
	<div class="thumbnail" id="tbn-{{forloop.counter|add:startindex }}">
		<div id="myCarousel-{{forloop.counter|add:startindex }}" class="carousel">
			<!-- Carousel items -->
			<div class="carousel-inner">
				{% for image in item.images %}
				{% if forloop.first %}
				<div class = "active item" >
					<img src={{image}} alt="">
				</div>
				{% else %}
				<div class = "item" >
					<img src={{image}} alt="">
				</div>
				{% endif %}
				{% endfor %}
				<div class="carousel-caption">
					<h4 class="123">{{item.title|slice:":10"}}</h4>
				</div>
			</div>
			<!-- Carousel nav -->
			{% if item.images|length  > 1%} <a class="carousel-control left" href="#myCarousel-{{forloop.counter|add:startindex }}" data-slide="prev">&lsaquo;</a>
			<a class="carousel-control right" href="#myCarousel-{{forloop.counter|add:startindex }}" data-slide="next">&rsaquo;</a>
			{% endif %}
		</div>
		<div class="caption">
			<p>
				{{item.content|striptags|cut:"hack"|slice:":100"|add:"..."}}
			</p>
			 <div>
				<a href="#{{item|mongo_id}}" class="btn btn-primary" id="readbtn-{{forloop.counter|add:startindex}}" tag="{{item|mongo_id}}" data-toggle="modal">阅读</a>
				<!--<a href="./updateurls?_id={{item|mongo_id}}&update=show" class="btn btn-primary" >闃呰</a>-->
				<a href="#" class="btn" rel="popover" id="ex-{{forloop.counter|add:startindex }}" title="1111" data-content="222222">转发</a>
				<div class="pull-right">{{item.sogou_class}} </div>
			 </div>
		</div>
	</div>
</li>
{%endfor%}
 
</div>