{% extends "base.html" %}  
{% block title %}Url_abstract{% endblock %}  
{% block content %}  
 
<a href="/source/">goto source!!!!</a>

<ul>
{% for item in items.object_list %}
  
    <li>
     <form action="updateurls" method="post"  >
     {% for k,v in item.items %}
     {% ifequal k 'title' %}
     	<input name={{k}} type="text" value={{v}}>
     {% else %}
     	{% ifequal k  'content' %}
     		{% else %}
     		<input name={{k}} type="text" value={{v}}>
     	{% endifequal %}

     {% endifequal %}
	{% endfor %}
 <input name="update" type="submit" value="delete">
  <input name="update" type="submit" value="show">
    </form>
    </li>
{% endfor %}
 
{% endblock %} 


